
body {
    background-color: blanchedalmond;
    font-family: 'Josefin Sans', sans-serif;
  }

h1 {
      text-align: center;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      font-size: 30px;
  }

table {
    table-layout: fixed;
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    min-width: 710px;
    border-collapse:separate;
    border: 5px solid rgb(207, 177, 207);
    border-style:groove;
    cursor: default;
  }
  
th tr td{
      position:static;
      background-color:rgb(199, 108, 108);
      padding: 30px;
     
  } 

  .asc {
     background-image: url("./images/down.png");
     background-position:right 7% bottom 50%;
     background-repeat: no-repeat;
     background-size: 15px;
  }

  .desc {
    background-image: url("./images/up.png");
    background-position:right 7% bottom 50%;
    background-repeat: no-repeat;
    background-size: 15px;
  }

tr {
      text-align: center;
  }

 thead tr:nth-child(1) {
    background-color : rgb(229, 145, 145);
}

tr:nth-child(even) {
    background-color : rgb(235, 183, 183);
}
 
th, td {
    padding: 20px;
  }

  th {
    cursor: pointer;
  }
  
  thead td {
    font-weight: 600;
    cursor: pointer;
  }

tr:hover {background-color: #a38181;}

td:nth-child(1){
  width: 50px;
}

td:nth-child(4){
  width: 50px;
}