
body {
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Josefin Sans', sans-serif;
  }
  
  container {
    width: 60%;
  }

h1 {
      text-align: center;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      font-size: 30px;
      color: #fff;
  }

table {
    table-layout: fixed;
    margin-left:auto; 
    margin-right:auto;
    width: 90%;
    min-width: 710px;
    border-collapse:separate;
    border: 3px solid #fff;
    border-collapse:collapse;
    background-color: transparent;
    cursor: default;
    table-layout: fixed;
    color: #fff;
    line-height:1.6;
  }
  
th tr td{
      position:static;
      padding: 30px;
      border: 3px groove solid #fff;
      background-color: rgb(157, 241, 223);
  } 

  .asc {
     background-image: url("./images/down.png");
     background-position:right 7% bottom 50%;
     background-repeat: no-repeat;
     background-size: 15px;
  }

  .desc {
    background-image: url("./images/up.png");
    background-position:right 7% bottom 50%;
    background-repeat: no-repeat;
    background-size: 15px;
  }

th, td {
  text-align: center;
    padding: 20px;
    text-transform: uppercase;
    border: solid 1px #fff;
  }

  th {
    cursor: pointer;
  }
  
  thead td {
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(82, 185, 185);
  }

tr:hover {background-color: rgba(83, 128, 65,0.3);}

 td:nth-child(1){
  width: 30px;
} 

td:nth-child(2){
  width: 140px;
}

td:nth-child(3){
  width: 70px;
}

tbody td:nth-child(even){
  text-align: left;
}

.searchBox {
margin: auto;
text-align: left;
width: 90%;
min-width: 710px;
}

.searchInput {
  border: 0;
  border-bottom: 2px solid  #fff;;
  outline: none;
  width: 93%;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}

::placeholder {
  color: #fff;;
}

.add {
  background-color: transparent;
  height: 30px;
  width: 30px;
  float:right;
  margin:0 10px;
  position: relative;
}

.add:hover {
  background-color: rgba(186, 236, 248,0.4);
}

.listing-table {
  display: inline-block;
}

/* prev, pageNumber, next {
  color: #a38181;
  display: inline-block;
  align-content: center;
  overflow: auto;
} */